version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}
      - run:
           name: Chmod permissions
           command: sudo chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}

      - run:
          name: Setup emulator
          command: sdkmanager "system-images;android-22;default;armeabi-v7a" && echo "no" | avdmanager create avd -n test -k "system-images;android-22;default;armeabi-v7a"
      - run:
          name: Launch emulator
          command: export LD_LIBRARY_PATH=${ANDROID_HOME}/emulator/lib64:${ANDROID_HOME}/emulator/lib64/qt/lib && emulator64-arm -avd test -noaudio -no-boot-anim -no-window -accel on
          background: true

      - run:
          name: Run Tests
          command: ./gradlew lint test

      - run:
          name: waiting for system to boot
          command: circle-android wait-for-boot
                   sleep 30
                   adb shell input keyevent 82
      - run:
          name: Run Instrument Tests MyTaxi
          command:  ./gradlew connectedAndroidTest --stacktrace


      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results

#      - emulator -avd circleci-android22 -no-audio -no-window:
#          background: true
#          parallel: true
#      - circle-android wait-for-boot
#      - sleep 30
#    # Unlock the screen
#      - adb shell input keyevent 82
#    # Run espresso tests
#      - ./gradlew :app:connectedDebugAndroidTest -PdisablePreDex;
